@import "../../variables.scss";
.all-products {
  .products-title {
    font-size: $title-size;
    font-weight: bold;
    margin: 2rem 0;
  }
  .loading {
    display: flex;
    justify-content: center;
    img {
      max-width: 30rem;
      object-fit: cover;
    }
  }
  .products-container {
    width: 100%;
    display: flex;
    gap: 4%;
    flex-wrap: wrap;

    .product-item {
      width: 22%;
      margin-bottom: 6rem;
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
      transition: $transition-03s;
      &:hover {
        box-shadow: -1px 5px 37px 2px rgba(34, 60, 80, 0.21);
      }
      .product-img {
        width: 100%;
        overflow: hidden;
        padding: 1rem;
        &:hover img {
          transform: scale(1.1);
        }
        img {
          cursor: pointer;
          width: 100%;
          height: 20rem;
          object-fit: contain;
          transition: $transition-03s;
        }
      }
      .product-info {
        padding: 1rem;
        .price,
        .rating .rate,
        .rating .count {
          font-size: $genreal-size;
          span {
            font-weight: bold;
          }
        }
        .rating {
          display: flex;
          margin: 1rem 0;
          gap: 5rem;
        }
        .product-btn {
          padding: 1rem 2rem;
          font-size: $genreal-size;
          background-color: $color-black;
          border-radius: 1rem;
          color: $color-white;
          border: none;
          cursor: pointer;
          width: 100%;
          transition: $transition-03s;
          &:hover {
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1230px) {
  .all-products {
    .products-container {
      gap: 5%;
      .product-item {
        width: 30%;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .all-products {
    .products-container {
      .product-item {
        margin-bottom: 3rem;
        width: 47.5%;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .all-products {
    .products-container {
      gap: 0;
      justify-content: center;
      .product-item {
        width: 90%;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .all-products {
    .loading {
      img {
        width: 20rem;
      }
    }
    .products-container {
      .product-item {
        width: 100%;
      }
    }
  }
}
