//Colors
$color-black: black;
$color-white: white;
$color-cream: #f0f0f0;

$color-btn: #093bde;
$color-success-btn: #15e76c;

//Font-sizes
$genreal-size: 2rem;
$title-size: 3rem;
$text-size: 1.6rem;

//Transitions

$transition-03s: all 0.3s;
